In [43]:
import pandas as pd
import numpy as np
import sklearn

In [3]:
df = pd.read_csv("avocado.csv")

In [6]:
y_data = df["AveragePrice"].values

In [5]:
df["AveragePrice"].values

array([1.33, 1.35, 0.93, ..., 1.87, 1.93, 1.62])

In [108]:
df.head()

,id,diagnosis,radius_mean,texture_mean,perimeter_mean,area_mean,smoothness_mean,compactness_mean,concavity_mean,concave points_mean,...,texture_worst,perimeter_worst,area_worst,smoothness_worst,compactness_worst,concavity_worst,concave points_worst,symmetry_worst,fractal_dimension_worst,Unnamed: 32
0,842302,1,17.99,10.38,122.80,1001.0,0.11840,0.27760,0.3001,0.14710,...,17.33,184.60,2019.0,0.1622,0.6656,0.7119,0.2654,0.4601,0.11890,NaN
1,842517,1,20.57,17.77,132.90,1326.0,0.08474,0.07864,0.0869,0.07017,...,23.41,158.80,1956.0,0.1238,0.1866,0.2416,0.1860,0.2750,0.08902,NaN
2,84300903,1,19.69,21.25,130.00,1203.0,0.10960,0.15990,0.1974,0.12790,...,25.53,152.50,1709.0,0.1444,0.4245,0.4504,0.2430,0.3613,0.08758,NaN
3,84348301,1,11.42,20.38,77.58,386.1,0.14250,0.28390,0.2414,0.10520,...,26.50,98.87,567.7,0.2098,0.8663,0.6869,0.2575,0.6638,0.17300,NaN
4,84358402,1,20.29,14.34,135.10,1297.0,0.10030,0.13280,0.1980,0.10430,...,16.67,152.20,1575.0,0.1374,0.2050,0.4000,0.1625,0.2364,0.07678,NaN

In [9]:
np.savetxt("avocado_y.csv", y_data, delimiter=",")

In [65]:
df_train = df.drop(columns=["AveragePrice"])

In [66]:
df_train = df_train.drop(columns=["Date"])

In [60]:
df_train

,Unnamed: 0,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,region
0,0,64236.62,1036.74,54454.85,48.16,8696.87,8603.62,93.25,0.00,conventional,Albany
1,1,54876.98,674.28,44638.81,58.33,9505.56,9408.07,97.49,0.00,conventional,Albany
2,2,118220.22,794.70,109149.67,130.50,8145.35,8042.21,103.14,0.00,conventional,Albany
3,3,78992.15,1132.00,71976.41,72.58,5811.16,5677.40,133.76,0.00,conventional,Albany
4,4,51039.60,941.48,43838.39,75.78,6183.95,5986.26,197.69,0.00,conventional,Albany
5,5,55979.78,1184.27,48067.99,43.61,6683.91,6556.47,127.44,0.00,conventional,Albany
6,6,83453.76,1368.92,73672.72,93.26,8318.86,8196.81,122.05,0.00,conventional,Albany
7,7,109428.33,703.75,101815.36,80.00,6829.22,6266.85,562.37,0.00,conventional,Albany
8,8,99811.42,1022.15,87315.57,85.34,11388.36,11104.53,283.83,0.00,conventional,Albany
9,9,74338.76,842.40,64757.44,113.00,8625.92,8061.47,564.45,0.00,conventional,Albany
10,10,84843.44,924.86,75595.85,117.07,8205.66,7877.86,327.80,0.00,conventional,Albany
11,11,64489.17,1582.03,52677.92,105.32,10123.90,9866.27,257.63,0.00,conventional,Albany
12,12,61007.10,2268.32,49880.67,101.36,8756.75,8379.98,376.77,0.00,conventional,Albany
13,13,106803.39,1204.88,99409.21,154.84,6034.46,5888.87,145.59,0.00,conventional,Albany
14,14,69759.01,1028.03,59313.12,150.50,9267.36,8489.10,778.26,0.00,conventional,Albany
15,15,76111.27,985.73,65696.86,142.00,9286.68,8665.19,621.49,0.00,conventional,Albany
16,16,99172.96,879.45,90062.62,240.79,7990.10,7762.87,227.23,0.00,conventional,Albany
17,17,105693.84,689.01,94362.67,335.43,10306.73,10218.93,87.80,0.00,conventional,Albany
18,18,79992.09,733.16,67933.79,444.78,10880.36,10745.79,134.57,0.00,conventional,Albany
19,19,80043.78,539.65,68666.01,394.90,10443.22,10297.68,145.54,0.00,conventional,Albany
20,20,111140.93,584.63,100961.46,368.95,9225.89,9116.34,109.55,0.00,conventional,Albany
21,21,75133.10,509.94,62035.06,741.08,11847.02,11768.52,78.50,0.00,conventional,Albany
22,22,106757.10,648.75,91949.05,966.61,13192.69,13061.53,131.16,0.00,conventional,Albany
23,23,96617.00,1042.10,82049.40,2238.02,11287.48,11103.49,183.99,0.00,conventional,Albany
24,24,124055.31,672.25,94693.52,4257.64,24431.90,24290.08,108.49,33.33,conventional,Albany
25,25,109252.12,869.45,72600.55,5883.16,29898.96,29663.19,235.77,0.00,conventional,Albany
26,26,89534.81,664.23,57545.79,4662.71,26662.08,26311.76,350.32,0.00,conventional,Albany
27,27,104849.39,804.01,76688.55,5481.18,21875.65,21662.00,213.65,0.00,conventional,Albany
28,28,89631.30,850.58,55400.94,4377.19,29002.59,28343.14,659.45,0.00,conventional,Albany
29,29,122743.06,656.71,99220.82,90.32,22775.21,22314.99,460.22,0.00,conventional,Albany
...,...,...,...,...,...,...,...,...,...,...,...
18219,6,1317000.47,98465.26,270798.27,1839.80,945638.02,768242.42,177144.00,251.60,organic,TotalUS
18220,7,1384683.41,117922.52,287724.61,1703.52,977084.84,774695.74,201878.69,510.41,organic,TotalUS
18221,8,1336979.09,118616.17,280080.34,1270.61,936859.49,796104.27,140652.84,102.38,organic,TotalUS
18222,9,1283987.65,108705.28,259172.13,1490.02,914409.26,710654.40,203526.59,228.27,organic,TotalUS
18223,10,1476651.08,145680.62,323669.83,1580.01,1005593.78,858772.69,146808.97,12.12,organic,TotalUS
18224,11,1517332.70,129541.43,296490.29,1289.07,1089861.24,915452.78,174381.57,26.89,organic,TotalUS
18225,0,271723.08,26996.28,77861.39,117.56,166747.85,87108.00,79495.39,144.46,organic,West
18226,1,210067.47,33437.98,47165.54,110.40,129353.55,73163.12,56020.24,170.19,organic,West
18227,2,264691.87,27566.25,60383.57,276.42,176465.63,107174.93,69290.70,0.00,organic,West
18228,3,347373.17,25990.60,71213.19,79.01,250090.37,85835.17,164087.33,167.87,organic,West
18229,4,301985.61,34200.18,49139.34,85.58,218560.51,99989.62,118314.77,256.12,organic,West
18230,5,224798.60,30149.00,38800.64,123.13,155725.83,120428.13,35257.73,39.97,organic,West
18231,6,275248.53,24732.55,61713.53,243.00,188559.45,88497.05,99810.80,251.60,organic,West
18232,7,283378.47,22474.66,55360.49,133.41,205409.91,70232.59,134666.91,510.41,organic,West
18233,8,185974.53,22918.40,33051.14,93.52,129911.47,77822.23,51986.86,102.38,organic,West
18234,9,189317.99,27049.44,33561.32,439.47,128267.76,76091.99,51947.50,228.27,organic,West
18235,10,207999.67,33869.12,47435.14,433.52,126261.89,89115.78,37133.99,12.12,organic,West
18236,11,297190.60,34734.97,62967.74,157.77,199330.12,103761.55,95544.39,24.18,organic,West
18237,0,15303.40,2325.30,2171.66,0.00,10806.44,10569.80,236.64,0.00,organic,WestTexNewMexico
18238,1,15896.38,2055.35,1499.55,0.00,12341.48,12114.81,226.67,0.00,organic,WestTexNewMexico
18239,2,22128.42,2162.67,3194.25,8.93,16762.57,16510.32,252.25,0.00,organic,WestTexNewMexico
18240,3,17393.30,1832.24,1905.57,0.00,13655.49,13401.93,253.56,0.00,organic,WestTexNewMexico
18241,4,18421.24,1974.26,2482.65,0.00,13964.33,13698.27,266.06,0.00,organic,WestTexNewMexico
18242,5,17597.12,1892.05,1928.36,0.00,13776.71,13553.53,223.18,0.00,organic,WestTexNewMexico
18243,6,15986.17,1924.28,1368.32,0.00,12693.57,12437.35,256.22,0.00,organic,WestTexNewMexico
18244,7,17074.83,2046.96,1529.20,0.00,13498.67,13066.82,431.85,0.00,organic,WestTexNewMexico
18245,8,13888.04,1191.70,3431.50,0.00,9264.84,8940.04,324.80,0.00,organic,WestTexNewMexico
18246,9,13766.76,1191.92,2452.79,727.94,9394.11,9351.80,42.31,0.00,organic,WestTexNewMexico
18247,10,16205.22,1527.63,2981.04,727.01,10969.54,10919.54,50.00,0.00,organic,WestTexNewMexico
18248,11,17489.58,2894.77,2356.13,224.53,12014.15,11988.14,26.01,0.00,organic,WestTexNewMexico

In [15]:
df_train['type'] = df_train['type'].map({'organic': 1, 'conventional': 0})

In [23]:
(np.unique(df_train["region"]))

array(['Albany', 'Atlanta', 'BaltimoreWashington', 'Boise', 'Boston',
       'BuffaloRochester', 'California', 'Charlotte', 'Chicago',
       'CincinnatiDayton', 'Columbus', 'DallasFtWorth', 'Denver',
       'Detroit', 'GrandRapids', 'GreatLakes', 'HarrisburgScranton',
       'HartfordSpringfield', 'Houston', 'Indianapolis', 'Jacksonville',
       'LasVegas', 'LosAngeles', 'Louisville', 'MiamiFtLauderdale',
       'Midsouth', 'Nashville', 'NewOrleansMobile', 'NewYork',
       'Northeast', 'NorthernNewEngland', 'Orlando', 'Philadelphia',
       'PhoenixTucson', 'Pittsburgh', 'Plains', 'Portland',
       'RaleighGreensboro', 'RichmondNorfolk', 'Roanoke', 'Sacramento',
       'SanDiego', 'SanFrancisco', 'Seattle', 'SouthCarolina',
       'SouthCentral', 'Southeast', 'Spokane', 'StLouis', 'Syracuse',
       'Tampa', 'TotalUS', 'West', 'WestTexNewMexico'], dtype=object)

In [32]:
list_of_cities = list(np.unique(df_train["region"]))
dict_of_cities = {}
for city in list_of_cities:
    dict_of_cities[city] = list_of_cities.index(city)

In [33]:
list_of_cities

['Albany',
 'Atlanta',
 'BaltimoreWashington',
 'Boise',
 'Boston',
 'BuffaloRochester',
 'California',
 'Charlotte',
 'Chicago',
 'CincinnatiDayton',
 'Columbus',
 'DallasFtWorth',
 'Denver',
 'Detroit',
 'GrandRapids',
 'GreatLakes',
 'HarrisburgScranton',
 'HartfordSpringfield',
 'Houston',
 'Indianapolis',
 'Jacksonville',
 'LasVegas',
 'LosAngeles',
 'Louisville',
 'MiamiFtLauderdale',
 'Midsouth',
 'Nashville',
 'NewOrleansMobile',
 'NewYork',
 'Northeast',
 'NorthernNewEngland',
 'Orlando',
 'Philadelphia',
 'PhoenixTucson',
 'Pittsburgh',
 'Plains',
 'Portland',
 'RaleighGreensboro',
 'RichmondNorfolk',
 'Roanoke',
 'Sacramento',
 'SanDiego',
 'SanFrancisco',
 'Seattle',
 'SouthCarolina',
 'SouthCentral',
 'Southeast',
 'Spokane',
 'StLouis',
 'Syracuse',
 'Tampa',
 'TotalUS',
 'West',
 'WestTexNewMexico']

In [34]:
dict_of_cities

{'Albany': 0,
 'Atlanta': 1,
 'BaltimoreWashington': 2,
 'Boise': 3,
 'Boston': 4,
 'BuffaloRochester': 5,
 'California': 6,
 'Charlotte': 7,
 'Chicago': 8,
 'CincinnatiDayton': 9,
 'Columbus': 10,
 'DallasFtWorth': 11,
 'Denver': 12,
 'Detroit': 13,
 'GrandRapids': 14,
 'GreatLakes': 15,
 'HarrisburgScranton': 16,
 'HartfordSpringfield': 17,
 'Houston': 18,
 'Indianapolis': 19,
 'Jacksonville': 20,
 'LasVegas': 21,
 'LosAngeles': 22,
 'Louisville': 23,
 'MiamiFtLauderdale': 24,
 'Midsouth': 25,
 'Nashville': 26,
 'NewOrleansMobile': 27,
 'NewYork': 28,
 'Northeast': 29,
 'NorthernNewEngland': 30,
 'Orlando': 31,
 'Philadelphia': 32,
 'PhoenixTucson': 33,
 'Pittsburgh': 34,
 'Plains': 35,
 'Portland': 36,
 'RaleighGreensboro': 37,
 'RichmondNorfolk': 38,
 'Roanoke': 39,
 'Sacramento': 40,
 'SanDiego': 41,
 'SanFrancisco': 42,
 'Seattle': 43,
 'SouthCarolina': 44,
 'SouthCentral': 45,
 'Southeast': 46,
 'Spokane': 47,
 'StLouis': 48,
 'Syracuse': 49,
 'Tampa': 50,
 'TotalUS': 51,
 'West': 52,
 'WestTexNewMexico': 53}

In [67]:
df_train['type'] = df_train['type'].map({'organic': 1, 'conventional': 0})
df_train['region'] = df_train['region'].map(dict_of_cities)

In [79]:
np.savetxt("avocado_x_processed.csv", df_processed, delimiter=",")

In [80]:
df_processed

array([[0.00000000e+00, 7.54604158e-01, 1.21788524e-02, ...,
        0.00000000e+00, 2.36707252e-02, 0.00000000e+00],
       [1.38842006e-05, 7.61923001e-01, 9.36183881e-03, ...,
        0.00000000e+00, 2.79766643e-02, 0.00000000e+00],
       [1.23974159e-05, 7.32812617e-01, 4.92611321e-03, ...,
        0.00000000e+00, 1.24903965e-02, 0.00000000e+00],
       ...,
       [4.63355907e-04, 7.08767729e-01, 6.13647970e-02, ...,
        5.14839897e-05, 1.03894691e-01, 2.72865145e-03],
       [4.39373568e-04, 7.12014533e-01, 6.71200243e-02, ...,
        4.39373568e-05, 8.86655859e-02, 2.32867991e-03],
       [4.44649337e-04, 7.06975469e-01, 1.17014324e-01, ...,
        4.04226670e-05, 8.15729421e-02, 2.14240135e-03]])

In [41]:
df_train.to_csv("avocado_x.csv")

In [73]:
from sklearn.preprocessing import normalize
from sklearn import preprocessing
max_abs_scaler = preprocessing.MaxAbsScaler()
df_processed = max_abs_scaler.fit_transform(df_train.values)
df_processed = normalize(df_train.values)

In [81]:
df = pd.read_csv("breast_cancer.csv")

In [83]:
df['diagnosis'] = df['diagnosis'].map({'M': 1, 'B': 0})

In [84]:
y_data = df["diagnosis"].values

In [103]:
df_train = df.drop(columns=["id", "diagnosis", "Unnamed: 32"])
df_train = df_train.dropna()

In [104]:
df_train.shape

(569, 30)

In [105]:
df_train.shape

(569, 30)

In [85]:
np.savetxt("cancer_y.csv", y_data, delimiter=",")

In [100]:
from sklearn.preprocessing import normalize
from sklearn import preprocessing
max_abs_scaler = preprocessing.MaxAbsScaler()
df_processed = max_abs_scaler.fit_transform(df_train.values)

In [107]:
np.savetxt("breast_cancer_x.csv", df_train.values, delimiter=",")

In [143]:
df = pd.read_csv("datasets/cryo/cryo.csv", delimiter=",")
# df['Dataset'] = df['Dataset'].map({2: 1, 1: 0})
# df['Gender'] = df['Gender'].map({"Female": 1, "Male": 0})
# df = df.drop(columns=["hospital_number"])
df = df.dropna()

In [144]:
y_data = df["Result_of_Treatment"].values
np.savetxt("cryo_y.csv", y_data, delimiter=",")

In [145]:
df_train = df.drop(columns=["Result_of_Treatment"])
# df_train = df_train.dropna()
df_processed = max_abs_scaler.fit_transform(df_train.values)
df.shape

(90, 7)

In [146]:
np.savetxt("cryo_x.csv", df_processed, delimiter=",")